@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  height: auto;
  background: #2c2c2c;
}
body header {
  width: 100%;
  height: 128px;
  position: fixed;
  z-index: 999;
  top: 0px;
  background: url(../img/top.png) top center no-repeat;
  background-size: cover;
}
body header article {
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
body header article .box-1 {
  width: 100%;
  height: auto;
}
body header article .box-1 .input-box {
  width: auto;
  height: 28px;
  float: right;
  position: relative;
  margin-top: 5px;
}
body header article .box-1 .input-box input {
  width: 215px;
  height: 30px;
  border: none;
  outline: none;
  background: url(../img/按鈕左.png) no-repeat;
  background-size: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-left: 7px;
}
body header article .box-1 .input-box input::-webkit-input-placeholder {
  color: #560064;
}
body header article .box-1 .input-box input:nth-child(2) {
  background: url(../img/按鈕右.png) no-repeat;
  background-size: 100%;
}
body header article .box-1 .input-box button {
  width: 78px;
  height: 31px;
  border: none;
  cursor: pointer;
  background: url(../img/button.png) no-repeat;
  outline: none;
  border: none;
  background-size: 100%;
  color: #560064;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
}
body header article .box-1 .input-box button:hover, body header article .box-1 .input-box button:active, body header article .box-1 .input-box button.active {
  background-position-y: calc(100% - 0px);
  color: #fff;
}
body header article .box-1 .input-box .registered {
  background-position-y: calc(100% - 0px);
  color: #fff;
}
body header article .box-1 .input-box .registered:hover, body header article .box-1 .input-box .registered:active, body header article .box-1 .input-box .registered.active {
  background-position-y: calc(100% + 31px);
  color: #560064;
}
body header article .box-1 .input-box .forget {
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
}
body header article .box-1 .input-box .chinese {
  width: 100%;
  height: auto;
  display: unset;
}
body header article .box-1 .input-box .chinese button {
  width: 109px;
  height: 31px;
  background: url(../img/繁體中文.png) no-repeat;
  background-size: 100%;
  padding-right: 16px;
}
body header article .box-2 {
  width: 100%;
  height: auto;
  background: #000;
  margin-top: 50px;
  position: absolute;
}
body header article .box-2 .logo {
  width: 226px;
  height: 42px;
  background: url(../img/LOGO.png) no-repeat;
  background-size: contain;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -999;
  min-width: 1400px;
}