html body {
    width: 100%;
    min-width: 1280px;
    height: auto;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    position: relative;
    background: #210039;

    // .sign-in-page {
    //     width: 100%;
    //     height: 1000px;
    //     background: #00000075;
    //     position: fixed;
    //     z-index: 101;
    
    // }

    header {
        width: 100%;
        height: 128px;
        position: fixed;
        z-index: 100;
        top: 0px;
        background: url(../img/top.png) top center no-repeat;
        background-size: cover;

        article {
            width: 1200px;
            height: 128px;
            margin: 0 auto;

            .box-1 {
                width: 830px;
                height: 32px;
                margin-top: 5px;
                float:right;
               

                .input-box {
                    width: 100%;
                    height: auto;
                    
                    input {
                        width: 215px;
                        height: 30px;
                        color: #560064;
                        border: none;
                        outline: none;
                        background: url(../img/按鈕左.png) no-repeat;
                        background-size: 100%;
                        text-align: center;
                        font-weight: 600;
                        font-size: 17px;
                        margin-left: 7px;
                    }
        
                    input::-webkit-input-placeholder {
                        color: #560064;
                    }
        
                    input:nth-child(2) {
                        background: url(../img/按鈕右.png) no-repeat;
                        background-size: 100%;
                    }
        
                    button {
                        width: 78px;
                        height: 31px;
                        border: none;
                        cursor: pointer;
                        background: url(../img/button.png) no-repeat;
                        outline: none;
                        border: none;
                        background-size: 100%;
                        color: #560064;
                        font-size: 14px;
                        font-weight: 600;
                        margin-left: 5px;
        
                        &:hover,&:active,&.active {
                            background-position-y: calc(100% - 0px);
                            color: #fff;
                        }
                    }
        
                    .forget {
                        color: #fff;
                        font-size: 14px;
                        margin-left: 5px;
                    }

                    
                    .chinese-select {
                        width: 100px;
                        height: 31px;
                        line-height: 31px;
                        margin-left: 16px;
                        background: url(../img/繁體中文.png) no-repeat;
                        background-size: contain;
                        cursor: pointer;
                        position: absolute;

                        .select-icon {
                            width: 100%;
                            height: 100%;
                            font-size: 15px;
                            color: #560064;
                            padding-left: 70px;
                            position: absolute;

                        }

                        select {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: #560064;
                            font-weight: 600;
                            padding-left: 17px;

                            background: none;
                            border: none;
                            appearance:none;
                            -moz-appearance:none;
                            -webkit-appearance:none;
                            outline: none;
                            position: absolute;
                           

                            option {
                                background: #f7d6a5;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .box-2 {
                width: 1200px;
                height: auto;
                margin-top: 38px;
                position: absolute;

                .logo {
                    width: 226px;
                    height: 42px;
                    background: url(../img/LOGO.png) no-repeat;
                    background-size: contain;
                    margin-top: 28px;
                    float: left;
                }

                ul {
                    width: 855px;
                    height: auto;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    float: right;
                    cursor: pointer;
                    overflow: hidden;

                    li {
                        width: 100%;
                        height: 84px;
                        text-align: center;
                        line-height: 84px;  
                        font-weight: 600;
                      
                        div {
                            width: 93px;
                            height: 84px;
                            // transform:scale(0);
                            position: absolute;
                        }

                        a {
                            color: #310054;
                            text-decoration: none;
                            position: relative;
                            transition: 0.3s;
                        }
                    }

                    li:hover{

                       div {
                            background: url(../img/hover.png) no-repeat;
                            background-size: contain;
                            animation: jump 0.6s;
                            // animation-iteration-count:infinite;
                        }

                        @keyframes jump {
                            0% {
                                transform: rotate(0deg)
                            }
                            50% {
                                transform: rotate(90deg);
                            }
                            60% {
                                transform: rotate(105deg);
                            }
                            100% {
                              transform: rotate(360deg);
                            }
                            // 10% {
                            //     transform: scale(0.8, 0.8);
                            // }
                          
                            // 33% {
                            //   transform: scale(0.9, 1.1);
                            // }

                            // 48% {
                            //     transform: scale(1.0, 1.0);
                            // }
                          
                            // 66% {
                            //   transform: scale(1.1, 0.9);
                            // }    
                                                   
                            // 100% {
                            //     transform: scale(1, 1);
                            // }
                        }

                        a {
                            color: #fff;
                        }
                    }
                    li:hover {
                          animation-play-state: paused;
                    }
                }
            }
        }
    }
    .header {
        width: 100%;
        height: 128px;
    }

    main {
        width: 100%;
        height: auto;

        article {
            width: 1200px;
            height: auto;
            margin: 0 auto;

            .banner {
                width: 100%;
                height: 480px;
                position: relative;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 489px;
                    object-fit: cover;

                    &.img-1 {
                        background: url(../img/banner.png) no-repeat center;
                        background-size: contain;
                    }

                    &.img-2 {
                        background: url(../img/banner.png) no-repeat center;  
                        background-size: contain;
                    }

                    &.img-3 {
                        background: url(../img/banner.png) no-repeat center;  
                        background-size: contain;
                    }
                }     

                .swiper-pagination {
                    bottom: 45px;

                    .swiper-pagination-bullet {
                        width: 25px;
                        height: 25px;
                        background: #fff;
                        opacity: unset;
                      
                    }
                    .swiper-pagination-bullet-active {
                        background: #ffffa4;
                    }
                    
                } 
            }

            .news {
                width: 100%;
                height: 40px;

                .news-icon {
                    width: 45px;
                    height: 39px;
                    background: url(../img/news-icon.png) no-repeat;
                    background-size: contain;
                    float: left;
                    margin-top: -2px;
                }
                marquee {
                    width: 1150px;
                    height: 40px;
                    background: url(../img/news.png) no-repeat;
                    background-size: contain;
                    line-height: 33px;
                    font-size: 14px;
                    color: #210039;
                    float: right;
                    font-weight: 600;
                }
            }

            .eight-button-bg {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                position: relative;
                margin-bottom: 35px;

                .eight-button-Box {
                    width: 300px;
                    height: 395px;
                    position: relative;

                    a {
                        width: 341px;
                        height: 232px;
                        position: absolute;
                        display: block;
                        z-index: 1;
                        top: 30px;
                        clip-path: polygon(74% 0, 98% 46%, 74% 92%, 27% 92%, 3% 46%, 27% 0%);
                        transform: translate(-50%);
                        left: 50%;     
                        cursor: pointer;
                    }
                    .eight-hover-1 {
                        top: 73px;
                    }
                    .eight-hover-2 {
                        top: 173px;
                    }
                    .eight-hover-3 {
                        top: 73px;
                    }
                    .eight-hover-4 {
                        top: 173px;
                    }
                    .eight-hover-5 {
                        top: 38px;
                    }
                    .eight-hover-6 {
                        top: 138px;
                    }
                    .eight-hover-7 {
                        top: 38px;
                    }
                    .eight-hover-8 {
                        top: 138px;
                    }
                  
                    .Picture {
                        width: 341px;
                        height: 232px;
                        background: url(../img/主圖-背景.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: 50%;
                        transform:translateX(-50%);                      
                    }
                    .Picture-1 {
                        top: 65px;
                    }
                    .Picture-2 {
                        top: 165px;
                    }
                    .Picture-3 {
                        top: 65px;
                    }
                    .Picture-4 {
                        top: 165px;
                    }
                    .Picture-5 {
                        top: 30px;
                    }
                    .Picture-6 {
                        top: 130px;
                    }
                    .Picture-7 {
                        top: 30px;
                    }
                    .Picture-8 {
                        top: 130px;
                    }

                    .picture-img {
                        width: 315px;
                        height: 290px;
                        background: url(../img/8組圖.png) no-repeat;
                        position: absolute;
                    }

                    .girl {
                        top: 15px;
                    }
                    .girl-2 {
                        background-position-x: calc(100% + 635px);
                        top: 94px;
                    }

                    .tiger {
                        background-position-x: calc(100% + 335px);
                        top: 15px;
                    }
                    .tiger-2 {
                        background-position-x: calc(100% + 25px);
                        top: 106px;
                    }
                    .card {
                        background-position-y: calc(100% - 35px);
                    }
                    .ball {
                        background-position-y: calc(100% - 35px);
                        background-position-x: calc(100% + 635px);
                        top: 106px;
                    }
                    .pe {
                        background-position-y: calc(100% - 23px);
                        background-position-x: calc(100% + 315px);
                    }
                    .fish {
                        background-position-y: calc(100% - 35px);
                        background-position-x: calc(100% + 0px);
                        top: 106px;
                    }

                    .eight-text {
                        width: 100%;
                        height: auto;
                        font-size: 30px;
                        color: #f8dfad;
                        font-weight: 600;
                        text-align: center;
                        position: absolute;
                    }
                    .text-1 {
                        top: 300px;
                    }
                    .text-2 {
                        top: 397px;
                    }
                    .text-3 {
                        top: 300px;
                    }
                    .text-4 {
                        top: 397px;
                    }
                    .text-5 {
                        top: 262px;
                    }
                    .text-6 {
                        top: 362px;
                    }
                    .text-7 {
                        top: 262px;
                    }
                    .text-8 {
                        top: 362px;
                    }
                }
            }
        }
    }
    
    footer {
        width: 100%;
        height: auto;

        .footer-top {
            width: 100%;
            height: 55px;
            background: url(../img/footer-top-2.png) no-repeat;
            background-size: cover;

            article {
                width: 1200px;
                height: 55px;
                margin: auto;

                ul {
                    width: 600px;
                    height: auto;
                    float: left;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    cursor: pointer;

                    li {
                        width: 102px;
                        height: 55px;

                        div {
                            width: 102px;
                            height: 0px;
                            position: absolute;
                            background: none;
                            clip-path: polygon(21% 13%, 80% 13%, 100% 50%, 80% 90%, 25% 90%, 0 51%);
                            transition: 0.6s;
                        }
    
                        a {
                            width: 100px;
                            font-size: 16px;
                            font-weight: 600;
                            color: #310054;
                            text-align: center;
                            line-height: 55px;
                            text-decoration: none;
                            position: absolute;
                            transition: 0.5s;
                        }
                    }

                    li:hover {
                        
                        div {
                            width: 102px;
                            height: 55px;
                            background: linear-gradient(to bottom, #350051 0%,#3f0075 44%,#4a0089 100%);
                        }
                        a {
                            color: #fff;
                        }
                    }
                }

                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: #310054;
                    line-height: 55px;
                    float: right;
                }
            }
        }

        .footer-down {
            width: 100%;
            height: 160px;
            background: url(../img/footer-down.png) no-repeat;
            background-size: cover;

            article {
                width: 1200px;
                height: auto;
                margin: auto;

                p {
                    font-size: 13px;
                    color: #310054;
                    font-weight: 600;
                    padding-top: 33px;
                    text-align: center;
                }
            }
        }
    }
    .top {
        width: 56px;
        height: 65px;
        background: url(../img/goto-top.png) no-repeat;
        background-size: 100%;
        position: fixed;
        right: 35px;
        bottom: 25px;
        cursor: pointer;
        z-index: 999;
        transition: 0.6s;
        animation: all 0.9s ease;
    }

    @keyframes swing {
        15% {
            transform: translateY(5px);
        }
        30% {
            transform: translateY(-5px);
        }
        50% {
            transform: translateY(3px);
        }
    }
    .top:hover{
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

    .right-icon {
        width: 31px;
        height: 240px;
        position: fixed;
        right: 0px;
        top: 315px;
        z-index: 999;

        .right-0 {
            width: 31px;
            height: 72px;
            background: url(../img/righ-0.png) no-repeat;
            background-size: contain;
            position: absolute;
        }

        a {
            cursor: pointer;
            background-size: contain;

            div {
                width: 55px;
                height: 64px;

                &:hover,&:active,&.active {
                    width: 68px;
                    height: 77px;
                    filter: brightness(1.1);
                }
            }

            .telephone {
                background: url(../img/telephone.png) no-repeat;
                margin: -48px 0 0px -30px;
            }
            .line {

                background: url(../img/line.png) no-repeat;
                margin: -11px 0 0px -59px;
            }
            .message {
                background: url(../img/message.png) no-repeat;
                margin: -11px 0 0px -30px;
            }
        }
    }

    .left-icon {
        width: 56px;
        height: 240px;
        left: 0px;
        position: fixed;
        right: 0px;
        top: 245px;
        z-index: 999;
        cursor: pointer;

        .left-up{
            width: 49px;
            height: 56px;
            background: url(../img/下載icon.png) no-repeat;
            background-size: contain;
            float: right;
            position:relative;
            z-index:999;
            left:9px;
            animation:box 0.9s infinite ; 

            &:hover,&:active,&.active {
            filter: brightness(1.5);
            }

        }
        @keyframes box{
        0%{
            top:20px;
        }

        50%{
            top:40px; 
        }

        100%{
            top:20px;
        }
        }

        .left-down {
            width: 56px;
            height: 179px;
            background: url(../img/left.png);
            writing-mode: vertical-rl;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            line-height: 3;
            transition: 0.2s;

            &:hover,&:active,&.active {
                color: #97012a;
            }
        }
        
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/bg.png) top center no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -999;
    }
}
